version: '3'
services:
    app:
        image: 'node:latest'
        restart: unless-stopped
        working_dir: /app
        volumes:
            - ./:/app
        ports:
            - '3000:3000'
        command: yarn start --host